.burger-builder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .burger-builder {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
  
  