.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 15rem;
    min-height: 17rem;
  }

.drop-zone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }

.drop-zone-wrapper {
    outline: 2px dashed #523726;
    outline-offset: 4px;
    border-radius: 4rem 4rem 2rem 2rem;
  }

@media (max-width: 768px) {
  .drop-zone-wrapper {
    border-radius: 2rem 2rem 1rem 1rem;
  }
  .drop-zone {
    width: 7rem;
    min-height: 12rem;
  }
  .drop-zone .bun,
  .drop-zone .beef,
  .drop-zone .salad,
  .drop-zone .cheese,
  .drop-zone .tomatos,
  .drop-zone .onions {
    width: 7rem;
  }
  .drop-zone .tomato--1 { width: 2.95rem; }
  .drop-zone .tomato--2 { width: 3.95rem; }
  .drop-zone .onion--1  { width: 3.95rem; }
  .drop-zone .onion--2  { width: 2.95rem; }
}
